@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>  
      <!--顺序不能错-->
    <script src="~/Content/ueditor/ueditor.config.js"></script>
    <script src="~/Content/ueditor/ueditor.all.js"></script>
    <link href="~/Content/ueditor/themes/iframe.css" rel="stylesheet" />
    <script src="~/Content/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">

        //var ue = UE.getEditor('editor', {
           
        //    autoHeightEnabled: true,
        //    autoFloatEnabled: true,
        //    iframeCssUrl: '/Content/ueditor/themes/iframe.css',//样式路径
        //    UEDITOR_HOME_URL: '/Content/ueditor/',//配置编辑器路径
        //    iframeCssUrl: '/Content/ueditor/themes/iframe.css',//样式路径
        //    initialContent: '欢迎使用ueditor',//初始化编辑器内容
        //    autoHeightEnabled: true,//高度自动增长
        //    minFrameHeight: 500//最小高度
        //});
        var editor = new baidu.editor.ui.Editor({
            toolbars: [
               ['fullscreen', 'source', '|', 'undo', 'redo', '|', 'bold', 'italic', 'underline', 'strikethrough', '|', 'superscript', 'subscript', '|', 'removeformat', '|', 'fontborder', 'backcolor', '|', 'insertorderedlist', 'insertunorderedlist', '|', 'selectall', 'cleardoc',
               'paragraph', '|', 'fontfamily', 'fontsize', '|', 'justifyleft', 'justifycenter', 'justifyright', '|', 'link', 'unlink', '|', 'emotion', 'insertimage', 'insertvideo', '|', 'map', 'horizontal', 'print', 'preview', 'drafts', 'spechars', 'help']
            ],
            UEDITOR_HOME_URL: '/Content/ueditor/',//配置编辑器路径
            iframeCssUrl: '/Content/ueditor/themes/iframe.css',//样式路径
            initialContent: '欢迎使用ueditor',//初始化编辑器内容
            autoHeightEnabled: true,//高度自动增长
            minFrameHeight: 500//最小高度
        });
        editor.render('editor');
    </script>
</head>
<body>
    <div>


        @using (Html.BeginForm("Index", "RichTextEditor", FormMethod.Post))
        {
            <textarea id="editor" name="editor"></textarea>
            <input type="submit" value="提交" />
        }
        @*<!--加载编辑器的容器-->
            <script id="container" name="content" type="text/plain">
                这里写你的初始化内容
            </script>
            <!--实例化编辑器-->
            <script type="text/javascript">
                var ue = UE.getEditor('container');
                ue.ready(function () {
                    //设置编辑器内容
                    ue.setContent('hello');
                    //获取html内容，返回<p>hello</p>
                    var html = ue.getContent();
                    //获取纯文本内容，返回:hello
                    var txt = ue.getContentTxt();
                });
            </script>*@
    </div>
</body>
</html>
